<div class="mx-2.5 my-4">
    <nav class="space-b mx-auto my-0 flex max-w-[60rem] items-baseline justify-between">
        <span class="font-bold"> Igor Croitoru</span>
        <span class="font-bold text-[0.85rem]"> Contact me</span>
    </nav>
</div>

@code {

}
