@inherits LayoutComponentBase

<div class="relative h-screen w-screen overflow-hidden">
    <!-- Squares background -->
    <Squares Direction="diagonal"
             Speed="0.05"
             BorderColor="#2e2b41"
             SquareSize="75"
             HoverFillColor="#00ff00"
             class="absolute" />

    <!-- Transparent overlay above Squares -->
@*     <div class="absolute inset-0 mx-auto my-0 mt-[3rem] max-w-[40rem] min-w-80 rounded-2xl bg-[var(--color-bg-main)] bg-clip-padding px-4 opacity-[0.9]">

    </div> *@

    <!-- Content container (fully opaque) -->
    <div class="relative h-full w-full overflow-y-auto">
        <Header />

     
        <main class="rou mx-auto my-0 mt-[3rem] max-w-[40rem]">
            <article class="rounded-lg p-2 md:p-6">
                @Body
            </article>
        </main>
    </div>
</div>
