<div class="@(Class + " border-[var(--color-border)]")">
    <div class="p-4">
        @if (!string.IsNullOrEmpty(Title))
        {
            <h3 class="text-lg font-semibold">@Title</h3>
        }
        <div class="">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
