<div class="@(Class + " rounded-xl bg-[var(--color-bg-surface)]/80 p-6 relative overflow-hidden")">
    @ChildContent
</div>
@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string BgColor { get; set; } = "bg-purple-300/10";

    [Parameter]
    public string ShadowColor { get; set; } = "rgba(250, 216, 255, 0.1)";

    [Parameter]
    public string ShadowSize { get; set; } = "5px 2px";

    [Parameter]
    public string AdditionalClasses { get; set; } = "";

    private string ShadowEffect =>
        $"shadow-[inset_0_0_{ShadowSize.Replace(" ", "_")}_{ShadowColor.Replace(", ", "_")}]";
}