<div class=@DivClass>
    @if (!string.IsNullOrEmpty(Src))
    {
        <img src="@Src"
             alt="@Alt"
             class="h-full w-full object-cover shadow" />
    }
    else
    {
        <span class="p-4 text-left text-xs font-bold text-[var(--color-text-muted)] md:text-xl">
            My photo<br />coming soon
        </span>
    }
</div>

@code {
    [Parameter]
    public string? Src { get; set; }

    [Parameter]
    public string Alt { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private string DivClass =>
     $"{Class} " +
     $"flex items-center justify-center overflow-hidden rounded-md border border-[var(--color-border)] " +
     $"{(string.IsNullOrEmpty(Src) ? "bg-gradient-to-r from-[#261c2b] to-[#584d77]" : "")} ";

}
